@import "_variables";
@import "_base";

body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: $dark-blue;
    overflow-x: hidden;
}

main {
    padding-top: 180px;
    color: white;
    background-color: $dark-blue;
    background-attachment: fixed;
    height: 100%;
}

header {
    position: fixed;
    color: white;
    height: 95px;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 24px;
    font-family: "Permanent Marker", cursive;

    .underline {
        position: relative;
        font-size: 24px;
    }

    .underline::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .underline:hover::after {
        width: 100%;
        left: 0;
    }
}

nav a {
    color: white;
    text-decoration: none;
}

.project {
    opacity: 0%;
    transition: opacity 0.8s ease-in-out;
    width: 90%;
    background-color: rgb(240, 240, 240);
    box-shadow: rgb(0, 0, 5) 3px 3px;
    color: black;
    margin: auto;
    border-radius: 25px;
    padding: 24px 4px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;

    .project-desc p {
        line-height: 1.6;
    }

    @media (min-width:416px) {
        width: 85%;
        padding: 24px;
    }

    @media (min-width:600px) {
        width: 60%;
        padding: 24px;
    }

    @media (min-width:768px) {
        width: 60%;
        grid-template-columns: 1fr 1fr;
        padding: 24px;
    }

    @media (min-width:1200px) {
        width: 42%;
        grid-template-columns: 1fr 1fr;
        padding: 24px;
    }
}

.projects {
    opacity: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    height: 110%;
    scroll-margin-top: 120px;
}

.project-thumb {
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin: auto;
}

.banner {
    width: 65%;
    margin: auto;
    height: 800px;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

.project-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:768px) {
        display: block;
    }

    h3 {
        font-family: "Outfit", sans-serif;
        font-size: 22px;
    }
}

.links {
    background-color: #dddddd;
    padding: 0px 4px;
    display: flex;
    gap: 4px;
    width: 100px;
    align-items: center;
    color: $blue;
    text-decoration: none;
    border-radius: 15px;
    border: rgb(61, 46, 46) 1px solid;
    color: black;
    margin-bottom: 20px;
}

.popup {
    opacity: 100%;
    transition: opacity 0.8s ease-in-out;
}

.icon {
    width: 40px;
}

.skills {
    margin-top: 180px;
}

.logos {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    margin: auto;
    width: 80%;
    gap: 20px;
    overflow: hidden;

    .logo {
        width: 100px;
        display: inline-block;
        animation: 25s slide infinite linear;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% * 9.6));
        }
    }
}
.about{
    z-index: 4;
    position: fixed;
    background-color: $dark-grey;
    width:70%;
    height:500px;
    padding: 40px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .email{
        display: flex;
        gap:10px;
       .email-icon{
           width:20px;
       }

    }
}