body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

main {
  padding-top: 120px;;
  color: white;
  background-color: #191a30;
  background-image: linear-gradient(135deg, #191a30 0%, #393d8a 100%, 0.3);
  background-attachment: fixed;
  height: 100%;
}
header{
  position: absolute;

  height:120px;
}
nav{
  display: flex;
} 
nav a{

  color:white;
  text-decoration: none;
}

.project {
  opacity: 100%;
  width: 60%;
  height:560px;
  background-color: rgb(240, 240, 240);
  box-shadow: rgb(0, 0, 5) 4px 4px 4px;
  color: black;
  margin: auto;
  border-radius: 25px;
  padding:24px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}

.projects {
  opacity: 100%;
  display: flex;
  flex-direction: column;
  gap:120px;
}

.project-thumb{
  border-radius: 20px;
  width:300px;
  height:600px;
}
